
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://tesrtuser:testpassword@db:5432/chatcpe_db
    volumes:
      - ./backend:/app

  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=chatcpe_db
      - POSTGRES_USER=tesrtuser
      - POSTGRES_PASSWORD=testpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: